body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    overflow-x: hidden;
}

.navbar {
    border-bottom: 1px solid #e2e2e2;
    height: 43px;
    width: 100%;
    /* position: fixed; */
}

.navbar > nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 135px;
    padding: 4px 15px 2px 15px;
}

.navbar img {
    margin: 0;
    width: 195px;
    height: 26px;
    margin: 6px 400px 0 400px;
}

.section-link {
    color: black;
    text-decoration: none;
}

.section-link:hover {
    text-decoration: underline;
}

.navbar-links * {
    padding: 8px 9px;
    margin-right: 8px;
}

.btn {
    height: 32px;
    color: white;
    background-color: #6288a5;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #326891;
    cursor: pointer;
}


main {
    margin-top: 80px;
    display: block;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.article-heading {
    margin: 0 auto;
}

.heading-image figure {
    width: auto;
}

.heading-image img {
    position: relative;
    left: 17.5%;
    width: 1200px;
}

.heading-image figcaption {
    width: 50%;
    position: relative;
    left: 17.5%;
}