body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.black {
    color:  #333;
}
.white{
    background-color: white;
}
.grey-light{
    color: #666;
}
.georgia{
    font-family: georgia;
}

.navbar {
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 200;
}

.navbar > nav {
    margin: 0 auto;
    max-width: 1605px;
    padding: 4px 15px 2px;
}

.navbar img {
    margin: 0;
    width: 195px;
    height: 26px;
    margin: 6px 400px 0 400px;
}

.topic-link {
    color: black;
    text-decoration: none;
}

.topic-link:hover {
    text-decoration: underline;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    left: 10px;
    position: absolute;
}
.navbar-links * {
    padding: 8px 9px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    display: inline-block;
}
.topic-section{
    display: block;
    position: absolute;
    left: 105px;
    top: 18px;
}

.title-section{
    text-align: center;
    display: block;
    margin: 6px auto 0;
}
.buttons-section{
    top: 8px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 10px;
}
.buttons-section *{
    margin-right: 7px;
}
.title-section a{
    width: 195px;
    height: 26px;
}

.btn {
    height: 32px;
    color: white;
    background-color: #6288a5;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #326891;
    cursor: pointer;
}
/*Section Article*/
main {
    height: 100%;
    margin: 0;
    display: block;
}

article{
    padding-top: 48px;
    margin: 0 auto 20px;
    position: relative;
    display: block;
}

.article-heading {
    margin-top: 56px;/*2.8125rem;*/
    display: block;
}

.title-article h1{
    position: relative;
    margin-bottom: 1rem;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    font-style: italic;
}

.heading-figure{
    width: 945px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px

}
.heading-figure img{
    cursor: pointer;
    width: 100%;
}

figure{
    display: block;
}

img {
    height: auto;
    max-width: 100%;
}
figcaption{
    margin-left: 0;
    max-width: 720px;
}

.description-img{
    margin-right: 7px;
    text-align: left;
    font-size: 16px;
}

.credits-img{
    display: block;
    color:#888;
    font-size:14px;
}
.author-article{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

div{
    display: block;
}
.author-article *{
    display: inline;
    font-weight: 700;
    color: #121212;
}
.author-article a{
    text-decoration: none;
}
.date-social-network-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
}
ol, ul{
    list-style: none;
    padding: 0;
}
.date-social-network-buttons time{
    width: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 500;
    font-family: Helvetica;
    font-size: 0.875rem;
}
.social-network-buttons{
    color: #999;
    padding: 0;
}
.social-network-buttons-section{
    display: flex;
    flex-shrink: 0;
    margin-bottom: 5px;
    color: #999;
}
.social-network-buttons li {
    color: #999;
    display: inline;
    margin-right: 16px;
    padding: 10px 0;
}
.social-network-buttons :last-child{
    margin-right: 0;
    color: #999;
    display: inline;
    padding: 10px 0;
    position: relative;
    right: 3px;
}
.author-social-network-section{
    margin-bottom: 20px;
    color: #121212;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.article-initial-part{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.content-initial-part{
    margin-left: calc((100% - 600px) / 2);
    margin-right: 0;
    width: 600px;
}

.aside-content {
    margin: auto 0 auto auto;
    width: 210px;
}

.aside-content * {
    margin-top: 4px;
    margin-bottom: 8px;
    text-align: left;
}

.aside-content h2 {
    font-size: 22px;
}

.aside-content p {
    font-size: 14px;
}

.aside-content button {
    width: 100%;
    max-width: 180px;
    text-align: center;
}

.aside-content h4 {
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.aside-image img {
    width: 75px;
    height: auto;
}

.aside-image h3 {
    font-weight: normal;
    font-size: 14px;
    margin-left: 4px;
}

.aside-image a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.aside-image a:hover {
    text-decoration: underline;
}